@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: mysecretfont;
  src: url('/fonts/brockmann-medium-webfont.woff');
}

* {
  font-family: mysecretfont, sans-serif;
}
